
<form [formGroup]="expenseForm" (ngSubmit)="onSubmit()" class="flex flex-col bg-white p-4 shadow-xl w-full rounded-2xl gap-2">
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="date">
            Date de la dépense
        </label>
        <input formControlName="date"
               class="form-control shadow appearance-none border rounded w-fit py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
               id="date" type="datetime-local" required>
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
            Description
        </label>
        <input formControlName="description"
                  id="description"
               class="form-control shadow appearance-none border rounded w-fit py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  required>
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="category">
            Catégorie de la dépense
        </label>
        <input formControlName="category"
               id="category"
               type="text"
                  class="form-control shadow appearance-none border rounded w-fit py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  required>
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="amount">
            Montant ? (€)
        </label>
        <input formControlName="amount"
               type="number"
               id="amount"
               class="form-control shadow appearance-none border rounded w-fit py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
               required>
    </div>
    <button class="p-2 bg-[#6C63FF] rounded text-white h-fit w-fit hover:scale-105 hover:opacity-90">Créer la dépense</button>

</form>