
<form [formGroup]="expenseForm" (submit)="onSubmit()" class="flex p-8 bg-white shadow-xl m-2 w-full rounded-2xl gap-2">
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="date">
            date
        </label>
        <input formControlName="date"
               class="form-control shadow appearance-none border rounded w-fit py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
               id="date" type="datetime-local" required>
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
            description
        </label>
        <input formControlName="description"
                  id="description"
               class="form-control shadow appearance-none border rounded w-fit py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  required>
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="category">
            catégorie
        </label>
        <input formControlName="category"
               id="category"
               type="text"
                  class="form-control shadow appearance-none border rounded w-fit py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                  required>
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="amount">
            Montant ? (€)
        </label>
        <input formControlName="amount"
               type="number"
               id="amount"
               class="form-control shadow appearance-none border rounded w-fit py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
               required>
    </div>
    <button class="p-2 bg-[#6C63FF] rounded text-white m-2 h-fit hover:opacity-80">Ajouter la dépense</button>

</form>