
    <section class="relative mx-auto">
        <nav class="flex justify-between bg-[#6C63FF] text-white w-screen">
            <div class="px-5 xl:px-12 py-6 flex w-full items-center">
                <a class="text-3xl font-bold font-heading" href="#">
                    Test
                </a>
                <ul class="hidden md:flex px-4 mx-auto font-semibold font-heading space-x-12">
                    <li>
                        <a class="hover:text-gray-200" href="#">Vos dépenses</a>
                    </li>
                    <li>
                        <a class="hover:text-gray-200" href="#">Vos statistiques</a>
                    </li>
                </ul>
                <div class="hidden xl:flex items-center space-x-5">
                    <a routerLink="/login" (click)="logout()"  class="text-white" href="#">
                        <svg xmlns="http://www.w3.org/2000/svg" class="" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4M10 17l5-5-5-5M13.8 12H3"/>
                        </svg>
                    </a>
                </div>
            </div>
            <a class="navbar-burger self-center mr-12 xl:hidden" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </a>
        </nav>
        <app-expense-form (newExpenseEvent)="addExpense($event)"></app-expense-form>
        <app-expense [expenses]="user.expenses" [sortedDates]="sortedDates" (deleteExpenseEvent)="deleteExpense($event)" ></app-expense>

    </section>