<div class="h-screen w-screen flex">
    <div class="flex-1 flex items-center justify-center">
        <img src="assets/undraw_marketing_re_7f1g.svg" alt="">
    </div>
    <div class="flex-1 bg-[#6C63FF] flex items-center justify-center flex flex-col ">
        <div class="w-full px-12">
            <form [formGroup]="form" (submit)="register()" class="bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4">
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                        Adresse mail
                    </label>
                    <input (focus)="clearErrors()" formControlName="email"
                           class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                           id="email" type="email" placeholder="foo@gmail.com">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                        Mot de passe
                    </label>
                    <input (focus)="clearErrors()" formControlName="password" id="password"
                           class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                           type="password" placeholder="**********">
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="passwordConfirm">
                        Confirmation du mot de passe
                    </label>
                    <input (focus)="clearErrors()" formControlName="passwordConfirm" id="passwordConfirm"
                           class="form-control shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                           type="password" placeholder="**********">
                </div>
                <div class="flex flex-col gap-2">
                    <button type="submit" class="p-2 rounded bg-[#6C63FF] text-white">S'inscrire</button>
                    <!--      <div class="flex h-14 w-14 items-center justify-center rounded-full bg-gradient-to-tr from-indigo-500 to-pink-500 animate-spin">-->
                    <!--        <div class="h-9 w-9 rounded-full bg-gray-200"></div>-->
                    <!--      </div>-->


                    <a class="text-[#6C63FF]" routerLink="/login">Déjà un compte ?</a>
                </div>
            </form>
        </div>

    </div>
</div>